body {
    font-family: sans-serif;
}

header{
    background-color: #5875B3;
}

header img{
    width: 50px;
}

.zapis{
background-color: #00FF3A;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    background-color: #23C6DD;
    padding: 5px;
    margin: 5px;
}

nav{
    margin: 10px;
}

h1{
    font-size: 32px;
    margin-top: 30px;
}

h2{
    font-size: 32px;
    color: #0089FF;
}

h3{
    font-size: 32px;
}

main img{
    width: 400px;
}

footer{
    background-color: #03343B;
    color: white;
    font-size: 25px;
}

footer p{
    margin: 10px;
}
